body{
    font-family: 'Roboto', sans-serif;
}
/***Navbar***/
.nav-item1 {
    letter-spacing: .2em;
    font-size: 14px;
    text-transform: uppercase;
    font-weight:bold;
}

.dropdown-item{
    letter-spacing: .2em;
    font-size: 13px;
    text=transform: uppercase;
    font-weight:500;
}
.nav-item1{
    text-align:right;
}
/**Category**/
.my_row_class{
   padding-top:15px;
}

.my_row_class .mx-auto p{
   color:#000;
   font-size:14px;
}

.my_row_class .mx-auto p a{
   color:#000;
   font-size:14px;
   text-decoration:none;
}

.my_image{
    width:100%;

}

.my_title{
    font-size: 18px;
    letter-spacing: .2em;
    text-transform: uppercase;
    font-weight:300;
}

.my_image_padding{
    padding-top: 5px;
}

.my_margin_bottom{
    margin-bottom: 5px;
}
.card-body{
    letter-spacing: .2em;
    text-transform: uppercase;
    font-size:14px;
}

/**Footer**/
.my_footer{
    background-color:#f8f9fa;
    height: 60px;
}

.my_footer p{
    padding-top:30px;
    font-size:14px;
    font-weight:bold;
}

/**ProductDetails**/

.my_prod_row_class{
    padding-top: 15px;
    padding-bottom: 20px;
}
.my_prod_row_class .mx-auto p{
    color:#000;
    font-size:14px;
}

.my_prod_row_class .mx-auto p a{
    color:#000;
    font-size:14px;
    text-decoration: none;
}
.my_prod_title{
    font-size:20px;
    letter-spacing:.2em;
    text-transform: uppercase;
    padding-top:15px;
    padding-bottom:10px;
}
.my_prod_text{
    padding-right:20px;
}
.my_prod_stock{
    letter-spacing:.2em;
}
.my_search_text{
    padding-top: 20px;
}


/**Cart page**/

.my_custom_table{
    min-width: 400px;
    font-size: 14px;
}

.my_custom_table{
    font-size: 14px;
    letter-spacing: .2em;
    text-transform: none;
    font-weight:normal;
    background-color: #f8f9fa !important;
}

.my_custom_tbody{
    text-decoration:none;
}

.my_custom_thead{
    text-decoration:none;

.custom_image{
    width: 100px;
    height: 100px;
}

.custom_a{
    text-decoration:none;

}

.custom_icon{
    text-decoration:none;

}

.my_custom_button{
    margin-top: 10px;
}

/**Stripe--------------

.stripe-button-el{
    width: 100%;
    display: block;
    background-color:#5D6D7E;
    border: 0px;
    background-image: none !important;
    margin-top: 10px;
}
.stripe-button-el span {
    display:block;
    position: relative;
    padding: 0px 12px;
    height: 36px !important;
    line-height:36px !important;
    font-family:'Roboto', sans-serif;
    color:#5D6D7E;
    background-image: none !important;
    background: none !important;
}**/
.stripe-button-el span{ display: none !important; }

.errorlist li{
    color:red;
    font-weight: bold;
}

.my_custom_div{
    margin-top: 20px !important;
}


.my_top_nav_div{
    height: 60px;
    line-height: 50px;
}

.my_custom_menu{
    text-align:right !important;
}

.my_custom_menu ul li{
    list-style:none;
    color:#000;
    text-transform: uppercase;
    letter-spacing:.2em;
    font-size:12px;
    padding-right:20px;
    display:inline;
}

.my_custom_menu ul li a{
    text-decoration:none;
    list-style:none;
    color:#000;
    text-transform: uppercase;
    letter-spacing:.2em;
    font-size:12px;
}