{% load static %}
<!-- Footer Section Begin -->
    <footer class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="footer-left">
                        <div class="footer-logo">
                            <a href="#"><img src="{% static 'img/fff5.png' %}" alt=""></a>
                        </div>
                        <ul>
                            <li>Address: Ameerpet, Hyderabad</li>
                            <li>Phone: +91 8179034306</li>
                            <li>Email: art.436536@gmail.com</li>
                        </ul>
                        <div class="footer-social">
                            <a href="https://www.facebook.com/devekate.vishal?fref=search&__tn__=%2Cd%2CP-R&eid=ARA_m6ZWV4qNumxpPvQ-rXHdXUrpwTNVXq5TrhWIxzSxTW0g65sMc38_ebOe4rHHB-7jfSSD47W5So5i" target="_blank"><i class="fa fa-facebook"></i></a>
                            <a href="https://www.instagram.com/dkts_art_studio/" target="_blank"><i class="fa fa-instagram"></i></a>
                            <a href="https://www.youtube.com/channel/UC1NwnUU8gISwy7BRtL1x_og" target="_blank"><i class="fab fa-youtube"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1">
                    <div class="footer-widget">
                        <h5>Information</h5>
                        <ul>
                            <li><a href="{% url 'shop:AboutUs' %}">About Us</a></li>
                            <li><a href="{% url 'shop:TrackingStatus' %}">Tracker</a></li>
                            <li><a href="{% url 'shop:ContactUs' %}">Contact</a></li>
                            <li><a href="{% url 'shop:ShopHome' %}">Home</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="footer-widget">
                        <h5>My Account</h5>
                        <ul>
                            <li><a href="#">My Account</a></li>
                            <li><a href="{% url 'shop:ContactUs' %}">Contact Us</a></li>
                            <li><a href="{% url 'shop:TrackingStatus' %}">Tracker</a></li>
                            <li><a href="{% url 'shop:ShopHome' %}">Shop</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="newslatter-item">
                        <h5>Join Our Newsletter Now</h5>
                        <p>Get E-mail updates about our latest shop and special offers.</p>
                        <form action="#" class="subscribe-form">
                            <input type="text" placeholder="Enter Your Mail">
                            <button type="button">Subscribe</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-reserved">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="copyright-text">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </div>
                        <div class="payment-pic">
                            <img src="img/payment-method.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

